<style>
a{
border:1px solid #CCC;
padding:7px;
margin:10px;
color:#000;
text-decoration:none;
border-radius:5px;
}
a:hover{
  text-decoration:underline;
  color:#F00;
}
</style>

<h1> Welcome to Diary </h1>

<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.<br><br>
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> 
	<%= link_to "View Articles", user_articles_path(current_user.id) %>
	<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
